* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Satisfy', cursive;
    background: #eeeeee;
}

.showcase {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 430px;
    color: #fff;
    background: linear-gradient(106.54deg, rgba(0, 0, 0, 0.7)0.51%, rgba(82, 77, 77, 0.8)100%), url('./images/Stephen.jpg')no-repeat center -250px;
}

.showcase h1 {
    font-size: 3rem;
}

.showcase h4 {
    padding: 1rem;
    border: 1px solid #fff;
}

.showcase p {
    font-size: 2rem;
}

#about {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    background: #fff;
    margin: 3rem;
    /* margin-bottom: 3rem; */
}

.first-div  {
    border-right: 2px solid #0b7cb1;
    width: 60%;
    padding: 2.5rem;
    line-height: 2.5rem;
}

.first-div h1, .second-div h1 {
    padding-bottom: 1rem;

}

.first-div p {
    font-size: 18px;
}
.second-div {
    width: 40%;
    padding: 2.5rem ;
}

.span {
    color: #0b7cb1;
}

.address, .date_of_birth, .place_of_birth, .language, .gender, .email, .contact {
    display: flex;
    justify-content: space-between;
}
.address span, .date_of_birth span, .place_of_birth span, .language span, .gender span, .contact span, .email span {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.skills {
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
    background: #fff;
    margin: 3rem;
}

.skills h1 {
    padding-bottom: 3rem;
}

.images {
    display: flex;
}

.images img {
    margin: 0 3rem ;
}

.img {
    display: flex;
    flex-direction: column;
}
.img p{
    text-align: center;
    padding-top: 1rem;
    font-weight: bold;
    color: rgba(73, 69, 69, 0.897);
}

.resume {
    margin: 2rem;
}

.resume h1 {
    padding-top: 3rem;
}

#resume {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.resume-div {
    background: #fff;
    padding: 2rem;
}
.resume-div h3 {
    border: 2px solid #0b7cb1;
    display: inline-block;
    padding: 0.5rem;

}
.resume-div p {
    padding: 1.5rem;
    
}
.portfolio {
    display: flex;
    flex-direction: column;
}

#portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 2rem;
}
.gallery {
    padding: 2rem;
}


